header {
    height: auto;
}

section#work {
    margin-top: 0vw;
    padding: 20px 6vw 3vw 3vw;
    text-align: left;
    display: block;
    background-image: url('/assets/work.png'), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2));
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-size: 3.4em;
        margin-left: 20px;
    }
    h2{
        font-size: 3em;
        margin: 20px;
    }
    h3{
        text-align: left;
        font-size: 2em;
        margin: 5px 20px 5px 20px;
    }

    // CODE
    div.code{ 
        div.grid {
            margin: 0px 10px 0px 10px;
            display: grid; 
            grid-template-columns: 23% 23% 23% 23%;

            a{
                text-decoration: none;
                color: white;
                background-color: rgb(255, 49, 49);
                border-radius: 15px;
                text-align: left;
                padding: 10px;
                margin: 10px;
                transition: .5s;

                &:hover {
                    transform: scale(1.02);
                    transition: .5s;
                }
                div.main {
                    float: left;
                    h4 {
                        font-size: 1.5em;
                        margin: 0; padding: 0;
                    }
                    p.info {
                        color: rgb(234, 234, 234);
                        margin-top: 100px;
                    }
                }
                div.extras {
                    display: flex;
                    position: absolute;
                    
                    p {
                        float: left;
                        margin: .1vw;
                        background-color: white;
                        border-radius: 10px;
                        padding: 5px;
                        color: black;
                        text-align: center;
                        span.small {
                            font-size: .5em;
                            vertical-align: middle;
                            &.text{
                                display: flex;
                            }
                        }
                        &.yellow {
                            background-color: rgb(255, 196, 0);
                        }
                        &.red{
                            background-color: rgb(255, 84, 84);
                        }
                    }
                    
                }
            }
            a#portfolio {
                background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.6)), url('/assets/work/code/portfolio.png');
                background-size: cover;
                background-position: 50%;
            }
            a#summit {
                background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.6)), url('/assets/work/code/summit.png');
                background-size: cover;
                background-position: 50%;
            }
            a#chillbot {
                background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.6)), url('/assets/work/code/chillbot.png');
                background-size: cover;
                background-position: 50%;
            }
            a#lenoofficial {
                background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.6)), url('/assets/work/code/itsleno.png');
                background-size: cover;
                background-position: 50%;
            }
        }
    }   
    // DESIGN
    div.design {
        div.sub-grid {
            margin: 0px 0px 30px 0px;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;

            img{
                cursor: pointer;
                text-decoration: none;
                color: white;
                border-radius: 25px;
                text-align: left;
                padding: 10px;
                margin: 15px;
                transition: .5s;
                width: 95%;
                height: 95%;
                object-fit: cover;

                &:hover {
                    transform: scale(1.02);
                    transition: .5s;
                }
            }
            img:after {
                content: 'hello world im after evry img';
                background-color: white;
                border-radius: 15px;
                padding: 10px;
                margin: 5px;
                width: 15px;
                height: 15px;
                display: block;
                z-index: 98;
            }
        }
    }
    // VIDEO
    div.video {
        div.grid {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin-top: 10px;
            a{
                background-image: linear-gradient(45deg, #000000ad, #0b0b0b75);
                color: white;
                background-size: 200%;
                margin: 10px;
                border-radius: 15px;
                text-decoration: none;
                padding: 80px 25px 80px 25px;
                font-size: 2em;
                font-weight: 800;
                display: flex;
                flex-direction: column;
                vertical-align: middle;
                justify-content: center;
                transition: .5s;
            }
            a:hover {
                transition: .5s;
                transform: scale(1.03);
                animation: vid-bg 10s alternate infinite;
            }
            a.large {
                background-image: linear-gradient(45deg, #000000ad, #00000075);
            }
        }
    }
}

@keyframes vid-bg {
    100% {
        background-position: right;
    }
}

div.full-img {
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;

    img {
        width: 90vw;
        max-width: 500px;
        border-radius: 10px;
    }
    span {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 1.5em;
        cursor:  pointer;
    }
}

p.sub-title {
    margin: 0 20px 0px 20px; padding: 0;
    text-align: left;
    max-width: 50%;
    a.text {
        margin: 0; padding: 0; background: none;
        color: white;
        text-decoration: orange underline;
        &:hover {
            color: orange;
        }
    }
}

@media screen and (max-width:62em) {
    nav { display: block; }

    section#work {
        div.code, div.design, div.video {
            p.sub-title { max-width: 92%; }
            display: block;
            height: auto; width: 100vw;
            h3{ display: block; }
            div.grid,div.sub-grid   {
                margin: 0 5vw 0 0vw;
                padding: 10px;
                display: block;

                a, img{
                    display: block;
                    height: 150px;

                    *{
                        display: block;
                    }
                    &:hover { 
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -o-transform: scale(1);
                        -ms-transform: scale(1);
                        -moz-transform: scale(1);
                    }
                    div.extras {
                        display: block;
                        p.extra {
                            display: block;
                            width: auto;
                            height: auto;
                            margin: 2px;
                            .small { display: none; }
                        }
                    }
                }
                img {
                    margin: 15px 0 15px 0px;
                    padding: 0;
                    height: 20vw;
                    border-radius: 15px;
                }
            }
        }
        div.video {
            div.grid {
                a{ 
                    display: block;
                    height: auto;
                    text-align: center;
                    padding: 50px;
                    background-color: rgb(255, 106, 0);
                }
            }
        }
    }
} 